[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git

[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	
[submodule "lib/heatmap"]
	path = lib/heatmap
	url = https://github.com/ITesserakt/libheatmap
